@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: $cream;
  font-family: $bodyFont;
  font-weight: $font-weight-md;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: $headingFont;
}

input, label, button {
  font: inherit;
}